nav {
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    width: 100%;
    color: var(--default-wht-color);
    background-color: var(--default-blk-color);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 100;
    top: 0;
}

nav .logo {
    letter-spacing: 2px;

}