* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

:root{
  --default-blk-color: #252525;
  --default-wht-color: #ffffff;
  --subtext-color: #808080;
}

body {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  color: var(--default-blk-color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.sp-spin {
  -webkit-animation: fa-spin .6s linear infinite;
  animation: fa-spin .6s linear infinite
}
